# Set syntax highlight on GitHub
# https://github.com/github/linguist/blob/master/lib/linguist/languages.yml
*.neon linguist-language=YAML

# Ignore files while exporting using git archive
LICENSE                export-ignore
.github/               export-ignore
tests/                 export-ignore
.editorconfig          export-ignore
.gitattributes         export-ignore
.gitignore             export-ignore
ecs.yaml               export-ignore
phpstan.neon           export-ignore
phpunit.xml            export-ignore
