includes:
	- rules.neon

parameters:
	paths:
		- src
		- tests
	level: max
	excludes_analyse:
		- %currentWorkingDirectory%/tests/*/data/*
	ikvasnica:
		classesAllowedToBeExtendedInTests:
			- PHPStan\Testing\RuleTestCase
		unitTestNamespaceContainsString: Rules

	ergebnis:
		classesAllowedToBeExtended:
			- PHPStan\Testing\RuleTestCase
