includes:
	- rules.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon
	- vendor/ergebnis/phpstan-rules/rules.neon

parameters:
	paths:
		- src
		- tests
	level: max
	excludes_analyse:
		- %currentWorkingDirectory%/tests/*/data/*
	ikvasnica:
		classesAllowedToBeExtendedInTests:
			- PHPStan\Testing\RuleTestCase
		unitTestNamespaceContainsString: Rules

	ergebnis:
		noExtends:
			classesAllowedToBeExtended:
				- PHPStan\Testing\RuleTestCase
