parameters:
	ikvasnica:
		classesAllowedToBeExtendedInTests:
			- PHPUnit\Framework\TestCase
		unitTestNamespaceContainsString: Unit
		allowSetupInUnitTests: false

parametersSchema:
	ikvasnica: structure([
		classesAllowedToBeExtendedInTests: listOf(string()),
		unitTestNamespaceContainsString: string(),
		allowSetupInUnitTests: bool(),
	])

rules:
	- ikvasnica\PHPStan\Rules\AssertSameOverAssertEqualsRule
	- ikvasnica\PHPStan\Rules\StaticAssertOverThisAndStaticRule
	- ikvasnica\PHPStan\Rules\NoNullableArgumentRule

services:
	-
		class: ikvasnica\PHPStan\Rules\UnitExtendsFromTestCaseRule
		arguments:
			classesAllowedToBeExtendedInTests: %ikvasnica.classesAllowedToBeExtendedInTests%
			unitTestNamespaceContainsString: %ikvasnica.unitTestNamespaceContainsString%
		tags:
			- phpstan.rules.rule

	-
		class: ikvasnica\PHPStan\Rules\DisallowSetupAndConstructorRule
		arguments:
			unitTestNamespaceContainsString: %ikvasnica.unitTestNamespaceContainsString%
			allowSetupInUnitTests: %ikvasnica.allowSetupInUnitTests%
		tags:
			- phpstan.rules.rule
